/* Using a responsive grid, courtesy of W3 schools. */
* {
    font-family: "Lucida Sans", sans-serif;
      
    box-sizing: border-box;
  }
  html{
      background-image: url("../images/stars.jpg");
      background-size: cover;
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }
  #start-screen{
      background-color: white;
      font-size: 50px;
      display: inline block;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
   p{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .initial-row{
     margin-top: 75px;
  }
  .time-left{
      text-align:center;
  }
  .row{
      padding: 10px 0px 10px 0px;
  }
  header{
      background: #a2b9bc;
      color:white;
      margin-left:40%;
      margin-right:40%;
      display:inline;
      font-size:35px;
      text-align:center;
      padding: 5px 20px 5px 20px;
      border: 2px solid red;
  }
  .answer1, .answer2, .answer3, .answer4{
      height:120px;
  }
